@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    margin-bottom: 20px;
}

#char-select {
    font-size: 1.2em;
    padding: 5px;
}

#generate-pdf {
    font-size: 1.2em;
    padding: 5px 10px;
    margin-left: 10px;
}

#preview-area {
    border: 1px solid #ccc;
    width: 80%;
    height: 500px;
    margin-top: 20px;
}
.status-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
